:root {
    font-family: sans-serif;
}

* {
    /* outline: 1px red solid; */
}

body, html {
    height: 100%;
}

body {
    margin: 0;
}

main {
    display: flex;
}

.edit-resume {
    padding: 5rem;
    background-color: red;
    display: flex;
    flex-direction: column;

    .edit-buttons {
        display: flex;
        justify-content: right;
        gap: .5rem;
        padding: .5rem;
    }
}

.display-resume {
    padding: 5rem;
    flex-grow: 1;
    background-color: blue;
}

